body{
background-color: #f2f2f2;

}
body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 20px;
        }
        .left-column {
            flex: 1;
            margin-right: 20px;
        }
        .right-column {
            flex: 1;
            margin-left: 20px;
        }
        .footer {
            text-align: center;
            margin-top: auto;
            padding: 20px;
            background-color: #f2f2f2;
            width: 100%;
        }
header {
        text-align: center;
        }

.horizontalNavigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.horizontalNavigation li {
  display: inline;
  margin-right: 20px;
}

.horizontalNavigation a {
  text-decoration: none;
  color: pink;
}

.horizontalNavigation a:hover {
  text-decoration: underline;
}
form {
  background-color: pink;
  padding: 20px;
  border-radius: 8px;
  margin: auto;  
  max-width: 250px;
  text-align: left;
}

footer{
text-align:center;
}